<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
</head>
<body class="layered-image">
<form class="form-control reg-form">
    <p class="display-6 text-center"> Регистрация</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Логин</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Логин должен состоять только из латинских букв и цифр.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        <div id="passwordHelp" class="form-text">Пароль должен содержать не менее восьми знаков, включать буквы и
            цифры.
        </div>
    </div>
    <a href="login" style="display: block; margin-left: auto; margin-right: auto">
        <button type="button" class="btn btn-primary">Зарегистрироваться</button>
    </a>

</form>
</body>
</html>