<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="user">
<div>
    <div class="display-6" style="text-align: center; margin: 20px">Пользователь: {{user}}
    </div>
    <table class="table table-striped psswd-table">
        <tr>
            <th>#</th>
            <th>сайт</th>
            <th>пароль</th>
            <th></th>
        </tr>
        {% for i in passwords %}
        <tr>
            <td><strong> {{loop.index}}</strong></td>
            <td>{{i.cite}}</td>
            <td class="view-psswd">{{i.password}}</td>
            <td><button class="btn btn-primary">Что то типо показать пароль</button></td>
        </tr>

        {% endfor %}
    </table>
    <div class="display-6" style="text-align: center; margin-top: 20px">Добавить пароль</div>
    <form class="add-form" method="post">
        <label for="login" class="form-label">Логин/сайт</label>
        <input type="text" class="form-control" id="login" name="login">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password">
        <div style="margin: 20px; text-align: center">
            <a href="/logout">
                <button class="btn btn-primary">Выйти из аккаунта</button>
            </a>
            <button type="submit" class="btn btn-primary">Добавить пароль</button>
        </div>
    </form>


</div>
</body>
</html>